<launch>
	<node name="hokuyo" pkg="urg_node" type="urg_node" >
		<param name="ip_address" value="192.168.1.20"/>
		<param name="frame_id" value="base_link" />
		<param name="angle_min" value="-1.9" />
		<param name="angle_max" value="1.9" />
		<remap from="/scan" to="/indoor/base_scan" />
	</node>
    
	<node ns="indoor/laser_utils" pkg="laser_node" type="laserUtilsServer" name="laser_utils_server" output="screen" launch-prefix=" " args=" ">
		<param name="robot_diam" value="0.5" type="double"/>
	    <param name="laser_max_range" value="15" type="double"/>
	</node>
</launch>
